---
---

@import "{{ site.theme }}";

header {

    background: #353A6D;

}

header a.button {

    background: #000000;

}

aside a.button {

    background: #000000;

}

#main-content h2:before {

    color: #00AA00;

}

#main-content h1:before {

    color: #000000;

}

#main-content h3 {

    color: #000000;
  }

  #main-content h4 {

    color: #000000;

  }

  #main-content h6 {

    color: #000000;
  }
